:root {

  --font:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",Inter,"Helvetica Neue", Arial, sans-serif;
  --font-2: "Nunito", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",Inter,"Helvetica Neue", Arial, sans-serif;
  --font-3: "Inter", "Arial", sans-serif;

  --bg-1: #151515;
  --primary-color: #f8b232;
  --secondary-color: #f8b232;

  --mobileS: "320px";
  --mobileM: "375px";
  --mobileL: "480px";
  --tablet: "768px";
  --laptop: "1024px";
  --laptopL: "1440px";

}
