:root {

  --font:  -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",Inter,"Helvetica Neue", Arial, sans-serif;

  --bg-1: #171717;
  --primary-color: #303030;
  --secondary-color: #444444;
}
